
<!DOCTYPE html>
<html>
  <head>
    <title>Event</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-light bg-dark mb-3">
    <h3 style="padding-left:10px; color:white">Event<span style="color:red">Planner</span> </h3>
    </nav>
    <div class="container" style="width:50%">
    <h3 class="text-center">Event Details </h3>
    <div style="text-align:right"> <%= link_to 'edit',edit_event_path, class:"btn btn-primary btn-sm"%>
    <%= link_to 'Delete',event_path(@event),data:{
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    }, class:"btn btn-danger btn-sm"%>
    </div>
    <table class="table" style="font-size:20px">
    <tr>
    <td>Event name :- </td><td><%= @event.title%></td>
    </tr>
    <tr>
    <td>Start Date:- </td><td><%= @event.start_date%></td>
    </tr>
    <tr>
    <td>End Date:- </td><td><%= @event.end_date%></td>
    </tr>
    <table>
    <div class="text-center">
    <%= link_to 'Back', root_path, class:"btn btn-success"%>
    </div>
 </div>
  </body>
</html>